/* import font family from google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box; /* tells browser to account for any border & padding in the values you specify for an element's width & height */
    scroll-behavior: smooth;
}

body {
    background: #000000;
    color: #fff;
}

 /* #header {
    width: 100%;
    height: 100vh;
    background-image: url(images/Head2.jpeg);
    background-size: cover;
    background-position: center; 
}  */

/* ------------------- NAVBAR ---------------------- */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 8%;
    background-color: rgb(0, 0, 0, 0.9);
    position: fixed;
    width: 100%;
    z-index: 1; /* places navbar over all other elements when scrolling */
    top: 0;
}

nav ul li {
    display: inline-block;
    margin: 10px 20px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    position: relative;
}

/* creates red underline effect */
nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

nav ul li a:hover {
    color: rgb(255, 255, 0);
}

/* --------------------- INTRO SECTION ------------------------- */
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.left-intro {
    font-size: 30px;
    margin-left: 30px;
    padding: 0 0 0 13%;
    width: 100%;
}

.left-intro h1 {
    font-size: 60px;
    margin-top: 20px;
}

.left-intro h1 span {  
    text-shadow: 3px 5px 2px #5f1e1e;
    color: #ff0000;
} 

.left-intro a {
    margin-top: 30px;
    display: inline-block;
    border-radius: 6px;
    border: 2px solid red;
    color: white;
    padding: 5px 10px;
    font-size: 25px;
    text-decoration: none;
}

.left-intro .cv-btn {
    background-color: red;
    color: white; 
    border: 2px solid red;
}

.left-intro a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
}

.left-intro .cv-btn:hover {
    background-color: rgb(230, 111, 111);
    color: rgb(0, 0, 0);
}

.right-intro img {
    height: auto;
    padding-top: 9%;
    width: 100%;
}

/* ------------------------ ABOUT ME SECTION --------------------------- */
#about {
    padding: 185px 0 0 0;
    color: #ababab;
    background-color: rgb(0, 0, 0);
    display: block;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    padding-left: 10%;
    height: 500px;
    border-radius: 16px;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title1 {
    font-size: 60px;
    font-weight: 600;
    color: white;
    position: relative;
    margin-bottom: 15px;
}

.sub-title1::before {
    content: "";
    position: absolute;
    left: 20%;
    bottom: 16px;
    width: 200px;
    height: 14px;
    transform: skew(-12deg) translateX(-50%);
    background: rgba(255, 0, 0);
    z-index: -1;
  }

.text-box {
    margin-bottom: 20px;
    margin-right: 30px;
}

.icons {
    font-size: 35px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 20px;
    transition: transform 0.5s;
    display: inline-block;
}

.icons:hover {
    color: yellow;
    transform: translateY(-5px);
}


/* services section, not finished
#services {
    padding: 30px 0;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

*/

/* -------------------- PORTFOLIO SECTION ------------------ */
#portfolio {
    padding: 150px 150px 150px 150px;
}
.sub-title2 {
    font-size: 60px;
    font-weight: 600;
    color: white;
    position: relative;
}

.sub-title2::before {
    content: "";
    position: absolute;
    left: 11%;
    bottom: 16px;
    width: 200px;
    height: 14px;
    transform: skew(-12deg) translateX(-50%);
    background: rgba(255, 0, 0);
    z-index: -1;
  }

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    display: block;
    border-radius: 10px;
    width: 100%;
    transition: transform 0.5s;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.layer {
    width: 100%;
    height: 0; /* zero height hides hover effect over portfolio projects */
    background: linear-gradient(rgba(0, 0, 0, 0.6), red);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #ff004f;
    font-size: 18px;
    text-decoration: none;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

/* --------------------- CONTACT SECTION --------------------- */
#contact {
    padding: 110px 150px;
}

.sub-title3 {
    font-size: 60px;
    font-weight: 600;
    color: white;
    position: relative;
}

.sub-title3::before {
    content: "";
    position: absolute;
    left: 40%;
    bottom: 16px;
    width: 270px;
    height: 14px;
    transform: skew(-12deg) translateX(-50%);
    background: rgba(255, 0, 0);
    z-index: -1;
  }

.contact-left {
    flex-basis: 35%;
}
.phone-num a {
    text-decoration: none;
    color: white;
}

.phone-num a:hover {
    color: yellow;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: red;
    margin-right: 15px;
    font-size: 25px;
}

.submit-btn {
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 50px;
    font-size: 25px;
    border-radius: 10px;
    cursor: pointer;
    background-color: red;
    color: white;
    transition: 0.4s;
    border: none;
    margin-top: 15px;
}

.submit-btn:hover {
    transform: translateY(3px);
    background-color: rgb(255, 255, 255);
    color: black;
}

.submit-btn:active {
    background-color: #f63333;
    color: rgb(255, 255, 255);
    transform: translateY(5px);
}

.contact-right form {
    width: 100%;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: white;
    font-size: 18px;
    border-radius: 6px;
}

form .btn {
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    padding: 14px 60px;
}

#msg {
    color: #61b752;
    margin-top: -80px;
    display: block;
}

/* ------------------ FOOTER ---------------- */
.footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: #000000;
    font-weight: 300;
    border-top: 1px solid rgb(0, 0, 0);
    box-shadow: 1px -2px 8px gray;
    margin-top: 60px;
}

/* -------------------CSS for smaller screens (mobile) ------------------ */
nav .fas {
    display: none; /* hides menu and close icons while on desktop */
}

@media only screen and (max-width: 600px) {
    .position {
        margin-top: 100%;
        font-size: 16px;
    }
    .left-intro h1 {
        font-size: 30px;
    }
    nav .fas {
        display: block;
        font-size: 25px;
    }
    nav .fas:hover {
        color: yellow;
    }
    nav ul {
        background: rgb(255, 78, 78);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.75s;
    }
    nav ul li {
        display: block;
        margin: 25px;
    }
    nav ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    nav ul .fas:hover {
        color: yellow;
    }
    #portfolio {
        padding: 100px 150px 150px 150px;
    }
    .sub-title1 {
        font-size: 40px;
        margin-bottom: 20px;
    }
    .sub-title1::before {
        content: "";
        position: absolute;
        left: 25%;
        bottom: 8px;
        width: 150px;
        height: 14px;
        transform: skew(-12deg) translateX(-50%);
        background: rgba(255, 0, 0);
        z-index: -1;
    }
    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }
    .about-col-1 {
        margin-bottom: 25px;
        padding: 0 30px;
    }
    .about-col-2 {
        font-size: 14px;
        padding: 30px;
    }
    .sub-title2 {
        font-size: 40px;
        font-weight: 600;
        color: white;
        position: relative;
    }
    .sub-title2::before {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 11px;
        width: 130px;
        height: 14px;
        transform: skew(-12deg) translateX(-50%);
        background: rgba(255, 0, 0);
        z-index: -1;
    }
    .work-list {
        justify-content: center;
    }
    #contact {
        justify-content: center;
    }
    .contact-left, .contact-right {
        flex-basis: 100%;
    }
    .contact-right {
        margin-top: 20px;
    }
    .sub-title3 {
        font-size: 34px;
        font-weight: 600;
        color: white;
        position: relative;
    }
    .sub-title3::before {
        content: "";
        position: absolute;
        left: 55%;
        bottom: 7px;
        width: 140px;
        height: 14px;
        transform: skew(-12deg) translateX(-50%);
        background: rgba(255, 0, 0);
        z-index: -1;
      }
      .email-icon, .phone-num {
        font-size: 13px;
    }
    .contact-left p i {
        font-size: 18px
    }
}
