* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box; /* tells browser to account for any border & padding in the values you specify for an element's width & height */
    scroll-behavior: smooth;
}

body {
    background: #000000;
    color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 10%;
}

nav ul li {
    display: inline-block;
    margin: 10px 20px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    position: relative;
}

/* creates red underline effect */
nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

nav ul li a:hover {
    color: rgb(255, 255, 0);
}


.container {
    padding: 10px 10%;
    display: flex;
}

.intro-left {
    margin-top: 20%;
    font-size: 30px;
    background-color: white;
}

.intro-left h1 {
    font-size: 60px;
    margin-top: 20px;
}

.intro-left h1 span {  
    text-shadow: 3px 5px 2px #5f1e1e;
    color: #ff0000;
}

.intro-right {
    display: flex;
    flex-direction: column;
}
.intro-right img {
   width: 100vh;
   height: 100%;
   background-color: aqua;
}

